antidote/9.0/CacheCorrecteur
config/cmus/autosave
config/cmus/cache
config/cmus/resume
config/cmus/lib.pl
config/cmus/search-history
config/cmus/command-history
config/ranger/__pycache__
config/ranger/history
config/rtv/history.log
config/ranger/plugins/__pycache__
config/nvim/autoload/plug.vim.old
newsbeuter/cache.*
newsbeuter/history*
