[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/nrfrd/Bureau/Sid Meier's Civilization V.desktop]
row=7
col=1

[/home/nrfrd/Bureau/Old Firefox Data]
row=8
col=0

[/home/nrfrd/Bureau/jws_app_shortcut_1447093992546.desktop]
row=5
col=1

[/home/nrfrd/Bureau/AQUAD Seven.lnk]
row=2
col=1

[/home/nrfrd/Bureau/Adobe Digital Editions.desktop]
row=0
col=1

[/home/nrfrd/Bureau/gog_com-Beneath_A_Steel_Sky_1.desktop]
row=3
col=1

[/home/nrfrd/Bureau/gog_com-Stargunner_1.desktop]
row=9
col=1

[/home/nrfrd/Bureau/Adobe Acrobat Reader DC.desktop]
row=9
col=0

[/home/nrfrd/Bureau/quake2.desktop]
row=6
col=1

[/home/nrfrd/Bureau/gog_com-Stargunner_2.desktop]
row=0
col=2

[/home/nrfrd/Bureau/steam.desktop]
row=1
col=2

[/home/nrfrd/Bureau/Sonal.desktop]
row=8
col=1

[/home/nrfrd/Bureau/Mode d'emploi Sonal.desktop]
row=4
col=1

[/home/nrfrd/Bureau/X3 Reunion.desktop]
row=2
col=2

[/home/nrfrd/Bureau/AQUAD Seven.desktop]
row=1
col=1

[912E-8B55]
row=5
col=0

[17E9AE4557539539]
row=6
col=0

[google-drive://lifestain@gmail.com/]
row=3
col=0

[4f976dab-340e-4299-b40d-1862f4949e93]
row=7
col=0

[C6B04293B0428A3F]
row=4
col=0

[Corbeille]
row=0
col=0

[/]
row=2
col=0

[/home/nrfrd]
row=1
col=0

