[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/nrfrd/Bureau/Sid Meier's Civilization V.desktop]
row=8
col=0

[/home/nrfrd/Bureau/jws_app_shortcut_1447093992546.desktop]
row=7
col=0

[/home/nrfrd/Bureau/Old Firefox Data]
row=6
col=2

[/home/nrfrd/Bureau/AQUAD Seven.lnk]
row=6
col=0

[/home/nrfrd/Bureau/gog_com-Beneath_A_Steel_Sky_1.desktop]
row=3
col=2

[/home/nrfrd/Bureau/chrome-mebmhgppccofflchofjokamnjpdfofab-Profile_2.desktop]
row=4
col=1

[/home/nrfrd/Bureau/travail_de_session_socio]
row=0
col=1

[/home/nrfrd/Bureau/gog_com-Stargunner_1.desktop]
row=5
col=2

[/home/nrfrd/Bureau/quake2.desktop]
row=2
col=1

[/home/nrfrd/Bureau/Adobe Acrobat Reader DC.desktop]
row=1
col=1

[/home/nrfrd/Bureau/gog_com-Stargunner_2.desktop]
row=4
col=2

[/home/nrfrd/Bureau/Adobe Digital Editions 4.0.desktop]
row=5
col=1

[/home/nrfrd/Bureau/projet_de_recherche]
row=3
col=1

[/home/nrfrd/Bureau/memoire]
row=8
col=1

[/home/nrfrd/Bureau/fugues]
row=5
col=0

[/home/nrfrd/Bureau/Sonal.desktop]
row=1
col=2

[/home/nrfrd/Bureau/X3 Reunion.desktop]
row=7
col=1

[/home/nrfrd/Bureau/steam.desktop]
row=6
col=1

[/home/nrfrd/Bureau/Mode d'emploi Sonal.desktop]
row=0
col=2

[/home/nrfrd/Bureau/AQUAD Seven.desktop]
row=2
col=2

[20a54e39-c69a-4ff4-9260-5dfebc37453f]
row=0
col=0

[17E9AE4557539539]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/nrfrd]
row=4
col=0

