[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/nrfrd/Bureau/travail_de_session_socio]
row=5
col=0

[/home/nrfrd/Bureau/memoire]
row=3
col=0

[/home/nrfrd/Bureau/projet_de_recherche]
row=4
col=0

[C6B04293B0428A3F]
row=6
col=0

[Corbeille]
row=0
col=0

[/]
row=2
col=0

[/home/nrfrd]
row=1
col=0

