[travail_de_session_marques]
row=5
col=0

[travail_de_session_socio]
row=6
col=0

[travaux_memoire]
row=7
col=0

[projet_de_recherche]
row=4
col=0

[Old Firefox Data]
row=0
col=0

[My Book]
row=3
col=0

[Corbeille]
row=2
col=0

[Système de fichiers]
row=1
col=0

[Répertoire personnel]
row=0
col=1

